* {
  margin: 0%;
  padding: 0%;
}

:root {
  --azul: rgb(90, 86, 116);
}

.container {
  display: none;
}

.table {
  /*display: none;*/
  background-color: var(--azul);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(224, 211, 211);
  position: absolute;
  left: 20%;
  top: 20%;
  height: 400px;
  width: 100px;
  border-radius: 15px;
}

.table__container img {
  justify-content: center;
  position: absolute;
  margin-left: -50px;
  max-width: 250px;
  
}

.btn-produto {
  position: absolute;
  left: 20%;
  top: 12%;
  cursor: pointer;
  border-radius: 5px;
}

#preview {
  background-color: #fff;
  position: absolute;
  left: 65%;
  top: 35%;
  object-fit: fill;
  width: 150px;
  height: 120px;
  z-index: 1;
}

/*@media screen and (max-width: 900px) {
  .view {
    display: none;
  }
}
*/

#quantidade,
#produto,
#codigo,
#valor {
  border-radius: 10px;
}
