* {
  margin: 0%;
  padding: 0%;
}

.table {
  background-color: rgb(183, 181, 194);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #fff;
  position: absolute;
  left: 20%;
  top: 20%;
  height: 500px;
  width: 800px;
}

.card {
  position: absolute;
  left: 20%;
  top: 12%;
  cursor: pointer;
}

#preview {
  position: absolute;
  left: 70%;
  top: 35%;
  object-fit: fill;
  width: 150px;
  height: 120px;
  z-index: 1;
}
